.card {
  position: relative;
  width: 351px;
  height: 800px;
  justify-self: center;

  font-family: MADE Outer Sans normal, Arial, Helvetica, sans-serif;

  font-size: 14px;
  line-height: 24px;

  margin-bottom: 30px;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      background-image: url(../img/cards/img-#{$i}.jpg);
      background-position: center;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg, rgba(0, 0, 0, 0) 52.74%,
      rgba(17, 13, 13, 0.9) 100%);
  }

  &__title {
    position: absolute;
    top: 80%;
    left: 19%;

    font-size: 36px;
    line-height: 36px;
  }

  &__subtitle {
    position: absolute;

    top: 95%;
    left: 20%;

    &_horror {
      &::after {
        position: absolute;
        bottom: 3%;
        left: 105%;

        content: "";
        width: 28px;
        height: 28px;
        background-image: url("../img/Mask.svg");
      }
    }
  }
}
