@font-face {
  font-family: MADE Outer Sans Bold;
  src: url("../fonts/MADE-Outer-Sans-Bold-PERSONAL-USE.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: MADE Outer Sans normal;
  src: url("../fonts/MADE-Outer-Sans-Thin-PERSONAL-USE.otf");
  font-style: normal;
  font-weight: 250;
}

@font-face {
  font-family: Morganite;
  src: url("../fonts/Morganite-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: MADE Outer Sans Heavy;
  src: url("../fonts/MADE-Outer-Sans-Alt-Bold-PERSONAL-USE.otf");
  font-style: normal;
  font-weight: 900;
}
