.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;

  padding: 70px 60px 0;
  margin-bottom: 60px;

  @media (max-width: 1600px) {
    padding: 40px 30px;
  }

  @media (max-width: 320px) {
    padding: 20px 15px;
    margin-bottom: 10px;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__burger {
    background-image: url(../img/burger.svg);
    width: 60px;
    height: 20px;
  }

  &__list {
    display: flex;

    @media (max-width: 960px) {
      display: none;
    }
  }

  &__item {
    padding: 5px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__logo {
    transition: transform 300ms ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;

    @media (max-width: 960px) {
      width: 200px;
    }

    @media (max-width: 560px) {
      display: none;
    }
  }

  &__cart {
    position: relative;

    &::after {
      position: absolute;
      top: -35%;
      left: 70%;

      content: "";
      background-image: url(../img/cart-modifier.svg);

      width: 20px;
      height: 20px;
    }
  }

  &__languages {
    font-family: MADE Outer Sans Bold, Arial, Helvetica, sans-serif;

    @media (max-width: 960px) {
      display: none;
    }
  }
}
