@import "fonts";
@import "variables";
@import "./components/header.scss";
@import "./components/mob-nav";
@import "./components/cards";
@import "./components/tape";
@import "./components/card";

* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.png");
  background-color: $background-color;

  font-family: MADE Outer Sans Bold, Arial, Helvetica, sans-serif;
  color: $main-font-color;

  scroll-behavior: smooth;
}
