.tape {
  position: absolute;
  top: 3%;
  right: -2%;

  &__amount {
    font-family: Morganite, Arial, Helvetica, sans-serif;
    font-size: 56px;
    line-height: 56px;
    text-transform: uppercase;

    position: absolute;
    left: 5%;
    top: -35%;
    transform: rotate(2deg);
  }

  &__cta {
    position: absolute;
    left: 60%;
    top: 20%;
  }

  &__counter {
    font-family: MADE Outer Sans Heavy, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;

    position: absolute;
    left: 70%;
    top: 50%;
  }
}
